<h1>Log in</h1>
<% flash.now[:errors] && flash.now[:errors].each do |error| %>
<%= error %>
<% end %>
<form class="" action="<%= session_url %>" method="post">
  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">
  Username: &nbsp<input type="text" name="session[user_name]" value="">
  <br>
  Password: &nbsp<input type="password" name="session[password]" value="">
  <br>
  <input type="submit" value="Log in">
</form>
